{% if action == 'update' %}
    <form name="{{ form.vars.name }}" id="{{ form.vars.id }}" action="{{ path('dashboard_illustration_contribute', {id: form.vars.value.id }) }}" method="post" enctype="multipart/form-data">
{% else %}
    <form name="{{ form.vars.name }}" id="{{ form.vars.id }}" action="{{ path('dashboard_illustration_contribute') }}" method="post" enctype="multipart/form-data">
{% endif %}
        <h3>Informations générales</h3>
            {{form_row(form.title)}}
            {{form_row(form.category)}}
            {{form_row(form.description)}}
            {{form_row(form.publish)}}
        <h3>Ajouter des fichiers</h3>
            {{ form_row(form.files)}}
    {{form_errors(form)}}
{{form_end(form)}}
