{% dump(posts) %}
{% for item in posts %}

    <div class="item col-xs-12 col-sm-6 col-md-3 col-lg-3 default">
        <div class="content-wrapper">
            <a href="{{ path('post_detail', {category: item.category.name|seo, year: item.modification|date('Y'),
                month:item.modification|date('m'),
                day: item.modification|date('d'), title: item.title|seo }) }}" title="">
                <figure class="images">
                    {% if item.files|length > 0  %}
                        {% for image in item.files %}
                            {% if loop.index == 1 %}
                                {% set path = '/upload/media/' ~image.name %}
                                <img src="{{ path | imagine_filter('item_detail') }}" alt="{{ item.title }}">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </figure>
            </a>
            <div class="info-wrapper">
                <p class="small categories">
                    {% if item.category is not null %}
                        <a href="{{ path('view_category', { category: item.category.name|seo }) }}" rel="category tag">{{ item.category.name }}</a>
                    {% else %}
                        <a href="" rel="category tag">Non class&eacute;</a>
                    {% endif %}
                </p>
                <a href="{{ path('post_detail', {category: item.category.name|seo,
                    year: item.modification|date('Y'),
                    month:item.modification|date('m'),
                    day: item.modification|date('d'), title: item.title|seo }) }}" title="">
                    <h4 class="header">{{ item.title }}</h4>
                </a>
                <div class="datas">
                    <i class="fa fa-calendar" aria-hidden="true"></i>{{ item.modification|localizeddate('medium', 'none') }}
                    {% if item.view is not null %}<i class="fa fa-eye" aria-hidden="true"></i>{{ item.view }}{% endif %}
                </div>


            </div>
        </div></div>
{% endfor %}